.button {
  border-radius: 0.5rem;
  background-color: var(--source-color);
  transition: background-color 0.25s ease-in-out;
  fill: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 4rem;
  cursor: pointer;
}

.test {
  background-color: var(--test-color);
}
