.input {
  border-radius: 0.5rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding: 0.5rem 0.5rem;
  transition: outline 0.075s linear;
  width: 100%;
  outline: 0px;
  outline-color: var(--primary-color);
  outline-style: solid;
  font-family: "JetBrains Mono";
  font-weight: 600;
}

.input:focus {
  outline: 3px;
  outline-color: var(--primary-color);
  outline-style: solid;
  box-shadow: none;
}
