.input {
  border-radius: 0.5rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding: 0.5rem 0.5rem;
  transition:
    outline 0.075s linear,
    outline-color 0.25s ease-in-out;

  outline: 0px;
  outline-color: var(--source-color);
  outline-style: solid;
  font-family: "JetBrains Mono";
  font-weight: 600;
  width: 100%;
}

.input:focus {
  outline: 3px;
  outline-color: var(--source-color);
  outline-style: solid;
  box-shadow: none;
}
