.button {
  background-color: #dc2626;
  border-radius: 0.5rem;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 6.5rem;
  height: 2rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
