:root {
  --text-color: #f8fafc;
  --text-on-primary-color: #0f172a;
  --background-color: #020817;
  --primary-color: #f8fafc;
  --secondary-color: #1e293b;
  --tertiary-color: #f1f5f9;
  --accent-color: #1e293b;
}
