:root {
  --text-color: #1a202c;
  --text-on-primary-color: #ffffff;
  --background-color: #ffffff;
  --primary-color: #dc2626;
  --secondary-color: #ffffff;
  --tertiary-color: #6a6f78;
  --accent-color: #ffffff;
}
