:root {
  --text-color: #020817;
  --text-on-primary-color: #f8fafc;
  --background-color: #ffffff;
  --primary-color: #0f1729;
  --secondary-color: #e5e7eb;
  --tertiary-color: #f1f5f9;
  --accent-color: #f1f5f9;
}
