.dropdown {
  position: relative;
}

.trigger-button {
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 8rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  transition: outline 0.075s linear;
  outline: 0px;
  outline-style: solid;
}

.trigger-button:hover {
  background-color: var(--accent-color);
}

.trigger-button:focus {
  outline: 2px;
  outline-color: var(--source-color);
  outline-style: solid;
}

.items {
  background-color: var(--background-color);
  margin-top: 0.25rem;
  position: absolute;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 0.5rem;
}

.item {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
}
.item-button {
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: start;
  transition: outline 0.075s linear;
  outline: 0px;
  outline-style: solid;
  border-radius: 0.5rem;
}
.item-button:focus {
  outline: 2px;
  outline-color: var(--source-color);
  outline-style: solid;
}

.item:hover {
  background-color: var(--accent-color);
}

.slide-in-bottom {
  animation: slide-in-bottom 0.05s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes slide-in-bottom {
  0% {
    transform: translate(-50%, 5px);

    opacity: 0;
  }
  100% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}
